#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.clothes-im {
  height: 12em;
  padding: 1em;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 0.5em solid transparent;
  border-bottom: 0.5em solid transparent;
  
  border-left: 1em solid rgb(154, 39, 154);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
  .logo{animation: logo-spin infinite 20s linear;}
  .rotate{animation: logo-spin infinite 100s linear;}
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
